<head>
</head>
<div id="loading">
    <div align="center" style="height: 30%;">
        <img src="assets/loading.gif"/>
    </div>
</div>
<body id="body">
    <br>
    <h1>You've Reached Anthony's Cabinet of</h1>
    <header>
        <h1 id="head">
            <div>F</div>
            <div>A</div>
            <div>V</div>
            <div>O</div>
            <div>U</div>
            <div>R</div>
            <div>I</div>
            <div>T</div>
            <div>E</div>
            <div>S</div>
        </h1>
    </header>
    <p id="mid"><i>*click on a category to open its drawer*</i></p>
    
    <hr class="separator--line">

    <button type="button" class="collapsible" (click)="drawer('Album')">Album</button>
    <div id="Album" class="content">
        <div id="mAlbum">
            <h2>I Didn't Mean to Haunt You + SCRAPYARD</h2>
            <h3>By Quadeca</h3>
            <h3>Genre: Folktronica, Art Pop, Alternative Hip Hop</h3>
            <div class="divimgs">
                <div class="mimgcon">
                    <img class="mimg" [src]="'./assets/fav/idmthycover.webp'" onclick="window.open('https://open.spotify.com/album/3c0NHNo2Gn0X7uARad3hGv')">
                </div>
                <div class="mimgcon">
                    <img class="mimg" [src]="'./assets/fav/sycover.jpg'" onclick="window.open('https://open.spotify.com/album/1S9MukUQEFAYCqlfrwqMd6')">
                </div>
            </div>
            <p>
                Quadeca, born Benjamin Lasky, is a rising star in the world of hip-hop. More than just a rapper,
                he's a multi-talented artist with an impressive range.  He crafts not only his rhymes but also the
                instrumentals behind his music, showcasing his skills as a record producer.  His career began on YouTube,
                where he initially focused on video games and comedy sketches. But his passion for music took hold,
                leading him to release mixtapes and eventually full-length albums. Quadeca's unique blend of technical rapping,
                introspective lyricism, and genre-bending production has garnered him a dedicated fanbase and established him as
                an artist to watch.
            </p>
            <p>
                In 2022 he released his LP "I Didn't Mean to Haunt You" (IDMTHY), which sonically sounded different than any thing he ever produced.
                It had a more glitchy pop sound that he flirted with on his previous LP "From Me To You". IDMTHY is posthumous album that is 
                sung from the prespective of his ghost after death. The album sought major praise from the music industry and even placed
                #5 User Scored Album of 2022 on <a href="https://www.albumoftheyear.org/album/498816-quadeca-i-didnt-mean-to-haunt-you.php">AOTY</a>.          
            </p>
            <div class="divimgs">
                <div class="mimgcon">
                    <iframe class="mvid" allowfullscreen
                        src="https://www.youtube.com/embed/Ig17K38Fy0Y">
                    </iframe>
                </div>
            </div>
            <p>
                In 2024 he released his Mixtape SCRAPYARD which was a collection of scraped songs off of IDMTHY that wouldn't fit on other projects.
                This album also gained a lot of praise even getting a 9/10 rating from <a href="https://www.youtube.com/watch?v=VXR3wubNMiw">TheNeedleDrop (aka. Anthony Fantano)</a>
                and as of 11-3-2024 it is ranked as #1 best album of 2024 on <a href="https://www.albumoftheyear.org/album/868978-quadeca-scrapyard.php">AOTY</a>.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>OK Computer - Radiohead</li>
                <li>Salad Days - Mac DeMarco</li>
                <li>Trench - Twenty One Pilots</li>
                <li>After Hours - The Weeknd</li>
            </ul>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('Animal')">Animal</button>
    <div id="Animal" class="content">
        <div id="mAnimal">
            <h2>HAWK</h2>
            <p>
                Hawks always felt like royalty to me. In Egyptian mythology, the hawk is most famously associated with Horus,
                the sky god. Often depicted with a hawk's head, Horus symbolized kingship, protection, and victory. Pharaohs, 
                believed to be descendants of Horus, wore crowns adorned with hawk imagery.
            </p>
            <p>
                In Greek mythology, god of light, prophecy, and healing, Apollo was often accompanied by a hawk, seen as a messenger
                carrying divine messages. In some historical depictions and interpretations of Norse mythology, Odin is portrayed with
                a hawk perched on his shoulder or with hawks flying nearby.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Raven</li>
                <li>Dog</li>
            </ul>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('Anime')">Anime</button>
    <div id="Anime" class="content">
        <div id="mAnime">
            <h2>Death Parade</h2>
            <p>
                Imagine a mysterious bar where the deceased arrive unknowingly, paired with strangers.
                This is Quindecim, a limbo presided over by the enigmatic bartender Decim. Here, souls play deadly games
                with high stakes: victory leads to reincarnation, while defeat condemns them to oblivion.  
                As the competition exposes their deepest secrets and chips away at their facades, Decim arbitrates their fates, 
                but everything changes with the arrival of a mysterious woman who throws the very system of judgment into question.
            </p>
            <p>
                Death Parade transcends the boundaries of a typical anime by weaving a profound exploration of human nature
                into its captivating narrative. Each episode throws new souls into the crucible of Quindecim's high-stakes games, 
                forcing them to confront their regrets, hidden desires, and the burdens they carry. The playful yet morbid 
                premise unveils the characters' vulnerabilities, stripping away their masks to expose their core humanity.  
                This introspective journey, masterfully crafted with exceptional animation and a hauntingly beautiful soundtrack, 
                compels you to not only be entertained, but also to grapple with their own mortality and the choices that define
                their lives. While opinions can be subjective, Death Parade's ability to blend philosophical depth with a suspenseful
                plot and emotional resonance positions it as one of the best, if not the best, anime there is.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Fullmetal Alchemist: Brotherhood</li>
                <li>Death Note</li>
                <li>Steins;Gate</li>
            </ul>
        </div>
    </div>
    
    
    <button type="button" class="collapsible" (click)="drawer('Animechar')">Anime Character</button>
    <div id="Animechar" class="content">
        <div id="mAnimechar">
            <br>
            <h2>Sasuke Uchiha</h2>
            <h3>From Naruto</h3>
            <p>
                Unlike the typical cheerful protagonist, he embodied a cool, brooding demeanor. 
                Witnessing the massacre of his entire clan by his beloved brother, Itachi, fueled a burning desire 
                for revenge within him.
            </p>
            <p>
                Sasuke's journey wasn't a linear path towards good. He made questionable choices, pushing away those who cared 
                about him. Yet, his unwavering determination to avenge his family showcased a depth uncommon in many characters.  
                Despite his darkness, the flicker of his past bond with Naruto, his rival turned friend, offered a glimpse of the
                good that remained within.  This complexity, the internal struggle between vengeance and his past camaraderie,
                makes him a fascinating character to follow.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Gojo Satoru - Jujutsu Kaisen</li>
                <li>L - Death Note</li>
                <li>Kakashi Hatake - Naruto</li>
                <li>Ken Kaneki - Tokyo Ghoul</li>
            </ul>
        </div>
    </div>
    
    
    <button type="button" class="collapsible" (click)="drawer('antihero')">Anti-Hero</button>
    <div id="antihero" class="content">
        <div id="mantihero">
            <h2>Deadpool</h2>
            <p>
                Deadpool breaks the fourth wall, directly acknowledging the comic book medium and interacting with the readers. 
                This meta-humor adds a unique layer to his character and can be entertaining for fans. He combines dark humor with 
                his fighting, creating a distinctive experience.
            </p>
            <p>
                Despite his comedic facade, Deadpool has a tragic past that includes suffering from mental illness and undergoing a 
                procedure that left him disfigured.  Before becoming Deadpool, he was Wade Wilson, a mercenary diagnosed with terminal 
                cancer. Desperate for a cure, he participates in the Weapon X program, a clandestine project experimenting with mutant 
                abilities. While the experiment grants him a powerful healing factor, it also leaves him with extreme physical 
                disfigurement and mental instability. This trauma contributes to his dark humor and erratic behavior.
            </p>
            <p>
                He constantly battles the voices in his head, a manifestation of his fractured mental state. The brutal methods he 
                employs and the lives he takes weigh heavily on him, despite his often flippant attitude. Despite his outward persona, 
                Deadpool desires companionship and belonging.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Jason Todd - Robin/Red Hood</li>
                <li>Wolverine</li>
                <li>Eddie Brock - Venom</li>
            </ul>
        </div>
    </div>



    <button type="button" class="collapsible" (click)="drawer('band')">Band</button>
    <div id="band" class="content">
        <div id="mband">
            <br>
            <h2>Radiohead</h2>
            <p>
                Radiohead isn't just about catchy tunes. They weave intricate soundscapes that draw me in. 
                Layers of guitars intertwine with Thom Yorke's unique, emotionally charged vocals.  Their music isn't
                afraid to explore complex themes. From the anxieties of modern life in "Paranoid Android" to the haunting beauty 
                of loss in "Pyramid Song," they tackle emotions that resonate deeply.
            </p>
            <p>
                Furthermore, Radiohead constantly reinvented themselves.  They're not content with staying in one genre. 
                From the raw rock of "OK Computer" to the electronic experimentation in "Kid A," their evolution keeps their music
                fresh and surprising. This willingness to push boundaries allowed them to stay relevant and constantly challenge 
                listeners, offering a unique experience with every album.
            </p>
            <div class="divimgs">
                <div class="mimgcon">
                    <iframe class="mvid" allowfullscreen
                        src="https://www.youtube.com/embed/XFkzRNyygfk">
                    </iframe>
                </div>
            </div>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Twenty One Pilots</li>
                <li>Nirvana</li>
                <li>Daft Punk</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('board')">Board Game</button>
    <div id="board" class="content">
        <div id="mboard">
            <h2>C<span>o</span>n<span>n</span>e<span>c</span>t <span>F</span>o<span>u</span>r</h2>
            <p>
                I'll crush you in this game, trust me.
            </p>
            <!-- <p>
                Furthermore, Radiohead constantly reinvents themselves.  They're not content with staying in one genre. 
                From the raw rock of "OK Computer" to the electronic experimentation in "Kid A," their evolution keeps their music
                fresh and surprising. This willingness to push boundaries allows them to stay relevant and constantly challenge 
                listeners, offering a unique experience with every album.
            </p> -->
            
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Risk</li>
                <li>Monopoly</li>
                <li>Clue</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('card')">Card Game</button>
    <div id="card" class="content">
        <div id="mcard">
            <h2>Monopoly Deal</h2>
            <p>
                Firstly, the compact size and quick playtime are unbeatable. Unlike its board game counterpart that 
                can stretch for hours, a game of Deal can be settled in a thrilling 15 minutes.          
            </p>
            <p>
                The gameplay itself is a perfect blend of strategy and chaos. You're constantly weighing the best use of your 
                cards – collecting properties, forcing trades with opponents, or strategically stealing their hard-earned cash.
                Collecting those property sets feels equally satisfying,  but the constant player interaction and card manipulation 
                keep the game dynamic and unpredictable.  It's the perfect pick-me-up for a game night.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>سكرو</li>
                <li>Pokémon TCG</li>
                <li>Yu-Gi-Oh!</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('cmovie')">Childhood Movie</button>
    <div id="cmovie" class="content">
        <div id="mcmovie">
            <h2>Monsters Inc</h2>
            <p>
                I had that movie when I was a kid and memorized every line because of how much I watched it.          
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Cars</li>
                <li>Staurt Little</li>
                <li>Ratatouille</li>
            </ul>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('color')">Color</button>
    <div id="color" class="content" style="background-color: blueviolet;">
        <div id="mcolor">
            <div style="height: 200px;">
                
            </div>
            <p style="color: #aaa; font-weight: bold;">
                Honorable Mention
            </p>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('drink')">Drink</button>
    <div id="drink" class="content">
        <div id="mdrink">
            <h2>Milk Tea</h2>
            <p>
                Milk tea offers a delightful combination of smooth tea and creamy milk... Am I supposed to elaborate any more ?
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Water</li>
            </ul>
        </div>
    </div>
    
    
    <button type="button" class="collapsible" (click)="drawer('flavoric')">Flavour of Ice Cream</button>
    <div id="flavoric" class="content">
        <div id="mflavoric">
            <h2>Blueberry Yogurt</h2>
            <p>
                Blueberries offer a delightful tartness that cuts through the sweetness of the ice cream base,
                creating a refreshing and balanced flavor profile. In addition, yogurt based ice creams often boast a 
                smooth and creamy texture, which pairs exceptionally well with the juicy bits of blueberries.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Chocolate</li>
                <li>Vanilla</li>
            </ul>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('food')">Food</button>
    <div id="food" class="content">
        <div id="mfood">
            <h2>Burger</h2>
            <p>
                Only if executed right though.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Pizza</li>
                <li>Jelly Beans</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('game')">Game</button>
    <div id="game" class="content">
        <div id="mgame">
            <br>
            <h2>Persona 5</h2>
            <p>
                Persona 5 is a critically-acclaimed role-playing game (RPG) where you take on the role of a high school student
                by day and a vigilante known as Joker by night. In modern-day Tokyo, you navigate the complexities of school life
                while wielding supernatural powers called Personas.  These Personas manifest from the depths of your psyche and aid
                you in battling against corrupt individuals within distorted mental landscapes.  As the Phantom Thieves, you fight to
                expose the darkness within these figures and bring about societal reform, all while forging bonds with your fellow 
                thieves and managing your daily life.
            </p>
            <p>
                Persona 5 tackles the concept of rebellion against societal corruption and personal growth. This theme combined with
                a well-crafted narrative is highly immersive. The game boasts a diverse cast beyond just your playable party. Each
                character, including villains, has well-developed backstories and motivations, making them feel real and adding depth
                to the narrative. The story focuses not just on fighting external villains but also on the characters' individual journeys.
            </p>
            <p>
                Persona 5 doesn't shy away from portraying the complexities of human nature. While the Phantom Thieves are the 
                protagonists, their methods of vigilantism can be morally ambiguous, sparking internal conflict and encouraging 
                players to ponder the concept of justice. The narrative keeps players engaged with unexpected plot developments 
                and revelations. Palaces, the distorted mental worlds you infiltrate, offer unique challenges and tie directly 
                to the villains' inner darkness, further unraveling the story's layers.
            </p>
            <p>
                These elements combine to craft a story that is both entertaining and thought-provoking. It goes beyond a simple
                good versus evil scenario, offering a nuanced exploration of human behavior.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Undertale</li>
                <li>Batman: Arkham Knight</li>
                <li>God of War (PS4)</li>
                <li>Minecraft</li>
            </ul>
        </div>
    </div>
    
    
    <button type="button" class="collapsible" (click)="drawer('gamechar')">Game Character</button>
    <div id="gamechar" class="content">
        <div id="mgamechar">
            
            <h2>Sans</h2>
            <h3>From Undertale</h3>
            <p>
                Undertale is an indie role-playing game where you control a human child who has fallen underground. The game revolves
                around your choices: fight or show mercy to the quirky monsters you encounter. Sans, a pivotal character, is a 
                seemingly laid-back skeleton with an affinity for puns and hot dogs. Despite his goofy demeanor, Sans holds immense 
                power and serves as a major challenge or even a final boss depending on your gameplay choices. Undertale's charm lies 
                in its unique blend of humor, memorable characters like Sans, and a narrative that emphasizes the power of compassion 
                and understanding.
            </p>
            <p>
                Sans' constant use of puns and his laid-back attitude provide comedic relief throughout the game. His mysterious 
                nature and occasional cryptic messages spark curiosity. Despite his seemingly carefree personality, 
                Sans possesses immense power, particularly evident during certain routes in the game. This surprising contrast between 
                his casualness and hidden strength is very intriguing.
            </p>
            <p>
                Throughout the game, Sans drops subtle hints that suggest he acknowledges the player's control over the narrative. 
                He makes comments about your actions in previous playthroughs, breaking the immersion and creating a sense of unease.
                Sans' dialogues often have a deeper layer,  referencing mechanics or concepts outside the game world. For instance, 
                he might mention "coming back from a bad time," which could be interpreted as referencing the player reloading a save 
                file after a character's death. In certain scenarios, Sans seems aware of the existence of alternate timelines and the 
                choices the player has made. This adds to the mystery surrounding his character and his position within the game's 
                narrative.
            </p>
            <p>
                Sans' ability to break the 4th wall  adds a unique layer of humor and intrigue to the narrative. It makes him 
                unpredictable and forces players to question his true motives and understanding of the game world. Oh and there's
                also <a href="https://www.youtube.com/watch?v=0FCvzsVlXpQ">Megalovania</a>.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Connor - Detroit: Become Human</li>
                <li>Goro Ackechi - Persona 5</li>
                <li>Atreus - God of War</li>
                <li>The Arkham Knight - Batman: Arkham Knight</li>
                <li>Flowey - Undertale</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('hero')">Hero</button>
    <div id="hero" class="content">
        <div id="mhero">
            <br>
            <h2>Batman</h2>
            <p>
                Unlike most superheroes with superhuman abilities, Batman is a peak human, relying on his intellect, physicality, 
                and technological advancements. This lack of superpowers allows viewers to connect with him on a more human level.
                Batman's backstory, fueled by witnessing his parents' murder, adds depth and complexity to his character. He operates
                 in a moral gray area, constantly battling his inner demons while fighting for justice.
            </p>
            <p>
                Batman boasts one of the most diverse and interesting villain lineups in comics. From the deranged Joker to the cunning 
                Penguin, each villain presents a unique challenge, keeping the stories fresh and engaging. My favourite version of Batman
                is the Arkhamverse one. The Arkhamverse Batman isn't a flawless symbol of unwavering righteousness. He grapples with inner
                demons, resorting to brutal tactics and occasionally blurring the lines between hero and vigilante. While he has allies like
                Robin and Nightwing, the core narrative emphasizes Batman's solitary nature. He shoulders the burden of protecting Gotham alone,
                often pushing away those who care about him. As the series progresses, Batman faces not only external threats but also internal
                struggles. He confronts the psychological manipulation of his villains and the potential for darkness within himself. This
                ongoing battle shapes his character throughout the narrative.
            </p>
            <p>
                The Arkhamverse's portrayal of Batman offers a complex and nuanced take on the character. He is a hero driven by a tragic past,
                a brilliant strategist with questionable methods, and a symbol of hope who grapples with his own inner darkness.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Peter Quill - Star-Lord</li>
                <li>Peter Parker & Miles Morales - Spider-man</li>
                <li>Dick Grayson - Robin/Nightwing</li>
                <li>Matt Murdock - Daredevil</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('hobby')">Hobby</button>
    <div id="hobby" class="content">
        <div id="mhobby">
            <h2>The Cards</h2>
            <p>
                Lately I've been creating these square cards for fun. Their content's meaning is up to the 
                person's interpretation of it. It was kind of inspired by <a href="https://www.instagram.com/johncena/">John Cena's Instagram</a>,
                but with a more coherent structure to the madness.
            </p>
            <div class="divimgs">
                <div class="mimgcon">
                    <img class="mimg" [src]="'./assets/fav/h.jpg'" (click)="open('./assets/fav/h.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg" [src]="'./assets/fav/g.jpg'" (click)="open('./assets/fav/g.jpg')">
                </div>
            </div>
            <p>
                You might've noticed that the previous card's theme is carried on to the next, which sort of connects them all together, and to be
                frank, I want to continue doing them without ever stating the main reason or meaning behind any of the cards, because that would just
                take the fun out of it.
            </p>
            <p>
                I've been having a lot of fun creating these to be honest.
            </p>

        </div>
    </div>
    
    
    <button type="button" class="collapsible" (click)="drawer('holiday')">Holiday</button>
    <div id="holiday" class="content">
        <div id="mholiday" style="height: 350px;">
            
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('movie')">Movie</button>
    <div id="movie" class="content">
        <div id="mmovie">
            
            <h2>Interstellar</h2>
            <p>
                The movie boasts breathtaking depictions of space phenomena like black holes and wormholes. The use of a combination 
                of practical effects and CGI creates a realistic and awe-inspiring portrayal of the cosmos. Let me tell you about 
                that cornfield... nah jk :p. Interstellar strives for a grounded approach in its depiction of space travel and the 
                physics involved. Collaboration with renowned scientists ensures a level of scientific accuracy uncommon in sci-fi films.
            </p>
            <p>
                The film's score by Hans Zimmer is widely praised for its emotional impact and ability to elevate the viewing 
                experience. The music perfectly complements the visuals and the film's overall tone.
            </p>
            <div class="divimgs">
                <div class="mimgcon">
                    <iframe class="mvid" allowfullscreen
                        src="https://www.youtube.com/embed/7GlsxNI4LVI">
                    </iframe>
                </div>
            </div>
            <p>
                The movie delves into profound questions about humanity's place in the universe, the nature of time and space, 
                and the lengths we go to for survival and the preservation of our species. The film features powerful performances 
                by Matthew McConaughey, Anne Hathaway, and other talented actors, further drawing the audience into the characters' 
                struggles and motivations.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Shawshank Redemption</li>
                <li>Memento</li>
                <li>The Batman</li>
            </ul>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('myth')">Mythological Entity</button>
    <div id="myth" class="content">
        <div id="mmyth">
            
            <h2>Ouroboros</h2>
            <p>
                The image of a serpent biting its own tail is inherently striking. It creates a sense of endless cycle, 
                representing concepts that loop back onto themselves. Ouroboros holds various symbolic interpretations. 
                The Ouroboros symbol appears in various cultures throughout history, indicating a universal human interest 
                in the cyclical nature of existence. The most prominent example is in the Egyptian mythology, which is Apophis,
                a giant serpent representing chaos and destruction. Often depicted encircling the sun god Ra, symbolizing the daily
                journey of the sun and the potential for darkness to consume light.
            </p>
            <p>
                In Norse mythology there is Jormungandr, the Midgard Serpent, which encircles the entire world and bites its own tail.
                It represents the destructive potential of nature and is destined to battle the thunder god Thor during Ragnarok,
                the end of the world. Ouroboros itself appears in later Greek texts and alchemical traditions. Here, it embodies the
                cyclical nature of life, death, and rebirth.
            </p>
            <p>
                Therefore, Ouroboros' captivating image, its profound symbolic interpretations, and its historical and cultural 
                significance  make it a compelling mythological entity that continues to spark curiosity and inspire thought.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Loki</li>
                <li>Osiris</li>
                <li>Odin</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('operson')">Online Personality</button>
    <div id="operson" class="content">
        <div id="moperson">
            
            <h2>Ludwig Ahgren</h2>
            <p>
                Ludwig is a multi-faceted internet personality. He rose to fame through live streaming on Twitch, 
                initially focusing on video games like Super Smash Bros. Melee. Ludwig's engaging personality and comedic
                style garnered a large audience. However, his reach extends beyond gaming. Ludwig's subathon, which took place in 
                March-April 2021, became a landmark event in the streaming world, as it ran for a staggering 31 days. Ludwig's initial
                goal was a modest 24-hour stream. However, due to overwhelming viewer support through subscriptions and donations, the
                timer kept extending. The subathon skyrocketed Ludwig's popularity. He broke the record for the most concurrent 
                subscribers on Twitch at the time, reaching a peak of over 273,000.
            <p>
                As of 11-3-2024 he actively streams and creates content on <a href="https://www.youtube.com/@ludwig">Youtube</a>, tackling various topics beyond games, and even hosts his
                own highly produced events through his company, "<a href="https://offbrand.gg/">Offbrand</a>". Ludwig is also known for co-owning the esports organization
                Moist Esports alongside <a href="https://www.twitch.tv/moistcr1tikal">MoistCr1tikal</a>. His diverse content and willingness to experiment have solidified his position 
                as a prominent figure in the online entertainment space.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Pewdiepie</li>
                <li>Markiplier</li>
                <li>jschlatt</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('podcast')">Podcast</button>
    <div id="podcast" class="content">
        <div id="mpodcast">
            
            <h2>Brain Leak</h2>
            <p>
                It's the unfiltered thoughts of <a href="https://www.youtube.com/@jacksepticeye">Sean McLoughlin (Jacksepticeye)</a> and <a href="https://www.youtube.com/@ethan">Ethan Nestor (CrankGameplays)</a> with the podcast
                "<a href="https://www.youtube.com/@brainleakpodcast">Brain Leak</a>". This comedic show promises an "off-kilter" and "wildly irreverent" journey into their minds. 
                No topic is off-limits, as they delve into the strange, funny, and even "slimy bits" that come up during their 
                conversations. Expect unscripted discussions, weird tangents, and plenty of laughter as they explore the depths 
                (and sometimes shallows) of their thought processes.
            </p>
            <div class="divimgs">
                <div class="mimgcon">
                    <img class="mimg" [src]="'./assets/fav/podcast.jpg'" (click)="open('https://open.spotify.com/show/1L4biGtn1rrp8yBmV0MFlb')">
                </div>
            </div>
            <p>
                Both Sean and Ethan are successful YouTubers with large followings. This pre-existing fanbase brings a 
                built-in audience to the podcast, familiar with their humor and online personas. Jacksepticeye is known for his 
                energetic and enthusiastic presence, while CrankGameplays offers a more sarcastic and dry wit. This dynamic creates
                a humorous interplay between the two, keeping the conversations interesting.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Trash Taste</li>
                <li>TMG Podcast</li>
                <li>Conan O'Brien Needs A Friend</li>
            </ul>
        </div>
    </div>
    
    
    <button type="button" class="collapsible" (click)="drawer('pokemon')">Pokemon</button>
    <div id="pokemon" class="content">
        <div id="mpokemon">
            
            <h2>Pikachu</h2>
            <p>
                Yes I know... the poster boy of Pokémon, how generic of me.. am I right? But hear me out for a second. I've loved Pikachu
                ever since I was like 4 years old. I have pictures from when I was kid wearing Pikachu merchandise. Plus Pikachu is 
                the best electric type Pokémon there is anyway.
            </p>
            <p>
                When I grew older and played some of the Pokémon games I remember looking up how to get Pikachu first thing whenever
                I picked up a new one of the games. So don't blame me, he's just been there from the start.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Charmander</li>
                <li>Gyarados</li>
                <li>Mew</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('season')">Season of the Year</button>
    <div id="season" class="content">
        <div id="mseason">
            
            <h2>Winter</h2>
            <p>
                Winter coincides with holidays like Christmas and New Year, bringing a joyous ambiance and opportunities for 
                family gatherings and celebrations. Colder weather often leads to seeking warmth and comfort. This can involve 
                enjoying hot beverages, indulging in warm meals, or curling up with a blanket.
            </p>
            <p>
                There's also the greatest perk of them all, and that is that we get to be sweat free.
            </p>
        </div>
    </div>
    
    
    <button type="button" class="collapsible" (click)="drawer('tshost')">Talk Show Host</button>
    <div id="tshost" class="content">
        <div id="mtshost">
            
            <h2>Conan O'Brien</h2>
            <p>
                Conan O'Brien is a prominent figure in American late-night television, having spent nearly three decades 
                entertaining audiences with his signature blend of wit and absurdity.  O'Brien's career began as a writer 
                for iconic shows like "Saturday Night Live" and "The Simpsons" before he rose to fame hosting his own 
                late-night programs. Over the years, he has captivated viewers with shows like "Late Night with Conan O'Brien," 
                "The Tonight Show with Conan O'Brien," and most recently, "Conan" on TBS.  While he stepped down from his TBS 
                show in 2021, O'Brien's legacy of comedic innovation and quirky charm continues to influence the late-night landscape.
            </p>
            <p>
                O'Brien embraces the absurd and unexpected. His jokes often veer into the surreal, with a heavy dose of 
                self-deprecation and awkward physical comedy. This creates a unique brand of humor that's distinct from the more 
                traditional approaches of other hosts. He isn't afraid to poke fun at himself, the industry, and current events.  
                This satirical wit adds a layer of intelligent humor that goes beyond the typical late-night monologue jokes.
                From remotes filled with awkward celebrity encounters to recurring bits like "Clueless Gamer," he pushes the boundaries
                of the late-night format, keeping the audience engaged with surprise and laughter.
            </p>
            <p>
                Throughout his career, O'Brien has successfully transitioned across different platforms and formats. From network 
                television to cable and even podcasts, he has consistently reinvented himself while staying true to his core comedic 
                style. This video by Renzy showcases why Conan is the best in my opinion.
            </p>
            <div class="divimgs">
                <div class="mimgcon">
                    <iframe class="mvid" allowfullscreen
                        src="https://www.youtube.com/embed/4cjBFa6MdUQ">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('tvshow')">TV Show</button>
    <div id="tvshow" class="content">
        <div id="mtvshow">
            
            <h2>Avatar the Last Airbender</h2>
            <p>
                You might've expected a "Breaking Bad" or a "Game of Thrones", but no. Rated at #7 Top-TV on <a href="https://www.imdb.com/title/tt0417299/">IMBD</a> 
                Avatar The Last Airbender (ATLA) is an animated series set in a world where people can manipulate one of the four elements: water, earth, fire, or air. 
                The story follows Aang, a young and playful Air Nomad who also happens to be the Avatar, the sole individual capable 
                of mastering all elements. After a century in hiding, Aang awakens to a world ravaged by the Fire Nation's war. With 
                the help of his waterbending sibling friends, Katara and Sokka, Aang embarks on a quest to master the elements, restore
                balance to the world, and defeat the ruthless Fire Lord.
            </p>
            <p>
                Aang, the protagonist, embodies the classic hero's journey, but with a childlike innocence and a strong moral compass. 
                The supporting cast, like the determined Katara and the sarcastic Sokka, offer relatable personalities and growth 
                throughout the series. Even antagonists like Prince Zuko have complex motivations and grapple with inner conflict, 
                making them more than one-dimensional villains. The show seamlessly blends lighthearted moments and slapstick comedy 
                with themes of war, loss, and the importance of maintaining peace. This balance caters to a wider audience and allows 
                viewers to connect with the characters on a deeper level.
            </p>
            <p>
                A core message of the series is the potential for personal growth and the possibility of redemption. Characters like 
                Zuko and Iroh embark on journeys of self-discovery, highlighting the importance of learning from mistakes and choosing 
                the right path. The show's unique blend of action, humor, and emotional depth likely contributes to its enduring 
                popularity and positive reception by many.
            </p>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Invincible</li>
                <li>Daredevil (The Netflix Series)</li>
            </ul>
        </div>
    </div>


    <button type="button" class="collapsible" (click)="drawer('utensil')">Utensil</button>
    <div id="utensil" class="content">
        <div id="mutensil" style="height: 350px;">            
        </div>
    </div>
    

    <button type="button" class="collapsible" (click)="drawer('wrestler')">Wrestler</button>
    <div id="wrestler" class="content">
        <div id="mwrestler">
            
            <h2>CM Punk</h2>
            <p>
                CM Punk, born Phillip Jack Brooks, is a multifaceted figure in the world of entertainment. He reigns supreme in the 
                world of professional wrestling, holding the title of WWE Champion for a record-breaking 434 days. Beyond 
                the ring, Punk has carved a path in mixed martial arts and explored the world of acting. Currently as of 11-3-2024, 
                he is signed with WWE, he continues to captivate audiences with his outspoken personality, exceptional in-ring skills, 
                and dedication to his craft.
            </p>
            <p>
                CM Punk's ability to blur the lines between reality and scripted elements of professional wrestling is a defining 
                aspect of his persona.  In 2011, his infamous "pipebomb" promo  stands as a prime example.  He went off-script, 
                criticizing WWE management, colleagues, and the industry itself. This unsanctioned tirade exposed the inner workings 
                of the business, creating a sense of realness and blurring the lines between Punk the wrestler and Punk the individual.
                While maintaining his character to a degree,  he's  known to express personal opinions and frustrations that feel 
                unscripted. This approach adds a layer of intrigue, making it difficult to discern where the character ends and the 
                real person begins.
            </p>
            <p>
                There's a sense of honesty and  realness in his unscripted moments. Fans appreciate his willingness to express 
                genuine opinions, even if they challenge the status quo. By blurring the lines, he subtly acknowledges the theatrical 
                nature of professional wrestling. This adds a layer of meta-commentary that some fans find intriguing.
            </p>
            <p>
                This ability to straddle the line between wrestling persona and personal expression is a key element that sets him 
                apart from many of his contemporaries and supports his self acclaimed title of "Best in the World".
            </p>
        </div>
    </div>

    <button type="button" class="collapsible" (click)="drawer('yugioh')">Yu-Gi-Oh! Card</button>
    <div id="yugioh" class="content">
        <div id="myugioh">
            
            <h2>Shooting Quasar Dragon</h2>
            <p>
                When I was young I used to play Yu-Gi-Oh! a bunch. However, this was the first card that ever got me to run an 
                archetype which was Synchrons. It was the first ever card that made me learn and do combos. So in short this card 
                got me into playing "meta" Yu-Gi-Oh! in a sense. That's why I consider it my favourite.
            </p>
            <div class="divimgs">
                <div class="mimgcon">
                    <img class="mimg" [src]="'./assets/fav/yugioh.jpg'" (click)="open('./assets/fav/yugioh.jpg')">
                </div>
            </div>
            <p>
                Honorable Mentions:
            </p>
            <ul>
                <li>Level Eater</li>
                <li>Ultimate Conductor Tyranno</li>
                <li>Twin-Barrel Dragon</li>
            </ul>
        </div>
    </div>
    
    <hr class="separator--line">
    <p id="mid"><i>*Will update this list whenever I feel like it*</i></p>
    <br>
</body>
