$color-bg: #27416c;

body {
    background: $color-bg;
    background-image: url(../../assets/bgfav.png);
    color: whitesmoke;
}

#mid{
  font-weight: lighter;
  text-align: center;
  text-shadow: 1px 1px 0 #999;
}

header, #head {
    margin: 0;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin transition {
    @for $i from 1 through 11 {
      div:nth-child(#{$i}) {
        @keyframes example-#{$i} {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(8px + $i);
            opacity: calc($i / 16);
          }
        }
      }
    } 
  }
  #head {
    color: white;
    font-family: wiggle, 'Oswald', sans-serif;
    font-size: calc(2rem + 5vw);
    font-weight: bold;
    @include transition;
    @for $i from 1 through 10 {
      div:nth-child(#{$i}) {
        display: inline-block;
        text-shadow: 4px 4px 0 #999;
        animation-name: example-#{$i};
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay:(#{$i*0.2s});
        animation-timing-function: ease-in-out;
      }
    }
  }

  h1{
    color: white;
    font-family: wiggle, 'Oswald', sans-serif;
    font-size: calc(2rem + 5vw);
    font-weight: bold;
    text-shadow: 4px 4px 0 #999;
    text-align: center;
  }

  .collapsible {
    // background-color: #777;
    // color: white;
    background-color: transparent;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    // font-size: 15px;
    font-family: kbdunktank, sans-serif;
    font-size: calc(1rem + 1vw);
    color: white;
    text-shadow: 4px 4px 0 #999;
}
  
  .collapsible:hover {
    color: #999;
    text-shadow: 4px 4px 0 white;

}
  
  .content {
    padding: 0 18px;
    height: 0;
    overflow: hidden;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    border-radius: 10px;

  }

  p{
    font-weight: bold;
    font-size: large;
  }

  .separator--line {
    border: 0;
    border-bottom: 5px solid whitesmoke;
    width: 0;
    animation: separator-width 4s ease-in-out;
    animation-iteration-count: infinite;
    // align-self: left;
  }
  @keyframes separator-width {
    0% {
      width: 0;
    }
    25% {
      width: 100%;
    }
    50% {
      margin-left: auto;
      width: 0%;
    }
    75%{
      margin-left: auto;
      width: 100%;
    }
    76%{
      margin-left: 0;
    }
    100%{
      margin-left: 0;
      width: 0;
    }

  }

  .divimgs{
    display: flex;
    justify-content: center;
}

.divimgs > *{
    margin-right: 5px;
}

  .mimgcon{
    // width: 50%;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin-bottom: 5px;
    width: 20%;
    background-color: black;
    align-self: center;
    margin-top: 10px;
  }

  .mimg{
    width: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  .mvid{
    width: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  @media all and (max-width: 801px) {
    .mimgcon{
      // width: 50%;
      overflow: hidden;
      border-radius: 10px;
      border-style: solid;
      border-width: 3px;
      border-color: white;
      margin-bottom: 5px;
      width: 70%;
      background-color: black;
      align-self: center;
      margin-top: 10px;
    }
  }

  .mimg:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  #Album{
    background-image: url("../../assets/fav/quadeca.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    h2{
        font-family: idmthy;
        font-size: calc(1rem + 2vw);
    }
    h3{
        font-family: idmthy;
    }
    p, ul{
        text-shadow: 2px 1px 0 #999;
    }


  }

  #Animal{
    background-image: url("../../assets/fav/hawk.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(159, 135, 0);

    h2{
        font-family: hawk;
        font-size: calc(1rem + 3vw);
        text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;
    }
    p, ul{
        text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;
    }
    ul{
      font-weight: bold;
    }
  }

  #Anime{
    background-image: url("../../assets/fav/deathparade.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2{
        font-family: deathparade;
        font-size: calc(1rem + 3vw);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    p, ul{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
  
  #Animechar{
    background-image: url("../../assets/fav/sasuke.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2{
        font-family: sasuke;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 #a0a;
    }
    h3{
        font-family: sasuke;
        text-shadow: 2px 1px 0 #a0a;
    }
    p, ul{
        text-shadow: 2px 1px 0 #a0a;

    }
  }
  
  #antihero{
    background-image: url("../../assets/fav/antihero.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: yellow;

    h2{
        font-family: antihero;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 blue;
    }
    p, ul{
        text-shadow: 2px 1px 0 blue;

    }
  }

  #band{
    background-image: url("../../assets/fav/radiohead.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2{
        font-family: radiohead;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 rgb(218, 141, 218);
    }
    p, ul{
        text-shadow: 2px 1px 0 rgb(218, 141, 218);

    }
  }

  #board{
    background-image: url("../../assets/fav/connect4.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: gold;

    h2{
        font-family: connect;
        font-size: calc(1rem + 3vw);
        text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    }
    h2 > span{
        color:red;
        text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;

    }
    p, ul{
        text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;

    }
  }
  
  #card{
    background-image: url("../../assets/fav/monopoly.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: green;

    h2{
        font-family: monopoly;
        font-size: calc(1rem + 3vw);
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 2px 2px 0 rgb(75, 196, 75);
    }
    p, ul{
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 2px 2px 0 rgb(75, 196, 75);
        font-size: large;
    }
  }


  #cmovie{
    background-image: url("../../assets/fav/monsters.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: greenyellow;

    h2{
        font-family: monsters;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 lightseagreen;
    }
    p, ul{
        text-shadow: 2px 1px 0 lightseagreen;

    }
  }
  
  
  #drink{
    background-image: url("../../assets/fav/tea.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(61, 23, 18);

    h2{
        font-family: tea;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 rgb(225, 210, 144);
    }
    p, ul{
        text-shadow: -1px -1px 0 rgb(225, 210, 144), 1px -1px 0 rgb(225, 210, 144), -1px 1px 0 rgb(225, 210, 144), 1px 1px 0 rgb(225, 210, 144);
    }
    ul{
        font-weight: bold;
    }
  }
  
  #flavoric{
    background-image: url("../../assets/fav/flavoric.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: blue;

    h2{
        font-family: flavoric;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 violet;
    }
    p, ul{
        text-shadow: 2px 1px 0 violet;
    }
    ul{
        font-weight: bold;
    }
  }
  
  #food{
    background-image: url("../../assets/fav/burger.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: yellow;

    h2{
        font-family: burger;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 rgb(173, 173, 8);
    }
    p, ul{
        text-shadow: 2px 1px 0 rgb(173, 173, 8);
    }
    ul{
        font-weight: bold;
    }
  }
  
  #game{
    background-image: url("../../assets/fav/persona.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: red;

    h2{
        font-family: persona;
        font-size: calc(1rem + 3vw);
        text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    }
    p, ul{
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    ul{
        font-weight: bold;
    }
  }
  
  
  #gamechar{
    background-image: url("../../assets/fav/sans.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    h2{
        font-family: sans;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 blue;
    }
    h3{
      font-family: sans;
      text-shadow: 2px 2px 0 blue;
    }
    p, ul{
      text-shadow: -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 1px 0 blue;
    }
    ul{
        font-weight: bold;
    }
  }
  
  #hero{
    background-image: url("../../assets/fav/hero.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    h2{
        font-family: hero;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 black;
    }
    p, ul{
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: purple;
    }
  }

  #hobby{
    background-image: url("../../assets/fav/hobby.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    h2{
        font-family: hobby;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 purple;
    }
    p, ul{
      text-shadow: -1px -1px 0 purple, 1px -1px 0 purple, -1px 1px 0 purple, 1px 1px 0 purple;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: purple;
    }
  }

  #holiday{
    background-image: url("../../assets/fav/christmas.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #movie{
    background-image: url("../../assets/fav/movie.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    h2{
        font-family: movie;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 rgb(7, 0, 85);
    }
    p, ul{
      text-shadow: 2px 1px 0 rgb(7, 0, 85);
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: rgb(7, 0, 85);
    }
  }
  
  #myth{
    background-image: url("../../assets/fav/myth.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    h2{
        font-family: myth;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 black;
    }
    p,ul{
      text-shadow: 2px 1px 0 black;
    }
    ul{
        font-weight: bold;
    }
  }

  #operson{
    background-image: url("../../assets/fav/operson.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(175, 0, 175);

    h2{
        font-family: operson;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 red;
      }
    p,ul{
      text-shadow: -1px -1px 0 pink, 1px -1px 0 pink, -1px 1px 0 pink, 1px 1px 0 pink;

    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: #09b197;
    }
  }

  #podcast{
    background-image: url("../../assets/fav/podcast.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #e561b7;

    h2{
        font-family: podcast;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 #09b197;
    }
    p,ul{
      text-shadow: 2px 1px 0 #09b197;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: #09b197;
    }
  }
  
  #pokemon{
    background-image: url("../../assets/fav/pokemon.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: yellow;

    h2{
        font-family: pokemon;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 black;
    }
    p,ul{
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: yellow;
    }
  }
  
  #season{
    background-image: url("../../assets/fav/season.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;

    h2{
        font-family: season;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 cyan;
    }
    p,ul{
      text-shadow: 2px 1px 0 cyan;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: cyan;
    }
  }
  
  #tshost{
    background-image: url("../../assets/fav/tshost.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: orange;

    h2{
        font-family: tshost;
        font-size: calc(1rem + 3vw);
        text-shadow: 2px 2px 0 yellow;
    }
    p,ul{
      text-shadow: 1px 1px 0 yellow;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: yellow;
    }
  }
  
  #tvshow{
    background-image: url("../../assets/fav/tvshow.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;

    h2{
        font-family: tvshow;
        font-size: calc(1rem + 3vw);
    }
    p,ul{
      text-shadow: 1px 1px 0 white;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: black;
    }
  }

  #utensil{
    background-color: #fff;
    background-image: url("../../assets/fav/spoon.jpg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;

  }
  

  #wrestler{
    background-image: url("../../assets/fav/wrestler.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    h2{
        font-family: wrestler;
        font-size: calc(1rem + 3vw);
        text-shadow: 1px 1px 0 black, 2px 2px 0 red;

    }
    p,ul{
      text-shadow: 1px 1px 0 black, 2px 2px 0 red;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: black;
    }
  }
  
  #yugioh{
    background-image: url("../../assets/fav/yugioh.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    h2{
        font-family: yugioh;
        font-size: calc(1rem + 3vw);
        text-shadow: 1px 1px 0 darkblue, 2px 2px 0 cyan;

    }
    p,ul{
      text-shadow: 1px 1px 0 darkblue, -1px 1px 0 darkblue, 1px -1px 0 darkblue, -1px -1px 0 darkblue, 2px 2px 0 cyan, -2px 2px 0 cyan, 2px -2px 0 cyan, -2px -2px 0 cyan;
    }
    ul{
        font-weight: bold;
    }
    .mimgcon{
      border-color: cyan;
    }
  }
  