<head>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">

</head>

<body>
    <p style="margin-left: 10px; font-style: italic;">Last Updated: 16th of May 2025</p>
    <h1 class="text_shadows">Anthony's Experience</h1>
    <div class="tcont">
        <div class="timeline">
            <div class="outer">
                <div class="card">
                    <div class="info">

                        <h3 class="title">Machine Learning Engineer</h3>
                        <h4 class="subtitle">Azdan</h4>
                        <h5 class="subtitle">Jun 2024 - Present</h5>
                        <a class="logo"
                            href="https://www.azdan.com/"><img
                                [src]="'./assets/companies/azdan.png'"
                                height="60px"></a>

                        <div class="divcont">
                            <ul>
                                <li>Developed and optimized LLM agent-based
                                    systems, enhancing automation and
                                    decision-making</li>
                                <li>Leveraged SQL extensively for efficient data
                                    retrieval and processing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="info">

                        <h3 class="title">Machine Learning - Graduation Project
                            Intern</h3>
                        <h4 class="subtitle">KoraStats</h4>
                        <h5 class="subtitle">Oct 2023 - Jul 2024</h5>
                        <a class="logo"
                            href="https://korastats.com/site/"><img
                                [src]="'./assets/companies/korastats.svg'"
                                height="60px"></a>

                        <p class="subtitle"> <b
                                style="text-shadow:none;">Project Title:
                                Football Players Tracking from Multiple Cameras
                                using Deep Learning</b> </p>
                        <div class="divcont">
                            <ul>
                                <li>Five module system that tracks football
                                    players
                                    in
                                    a match across 2-3 cameras using computer
                                    vision
                                    and deep learning</li>
                                <li>Implemented the path predictor module using
                                    an
                                    Encoder-Decoder Network to efficiently get
                                    the
                                    trajectory of the player on the screen to
                                    predict occlusions with other players</li>
                                <li>Integrated the 5 modules into a
                                    multithreaded
                                    system that efficiently manages memory and
                                    CPU
                                    resources</li>
                            </ul>
                        </div>

                        <button class="btn " type="button"
                            (click)="openModal('KS')" hidden><i
                                class="bi bi-clipboard"></i></button>
                    </div>
                </div>
                <div class="card">
                    <div class="info">

                        <h3 class="title">Machine Learning Intern</h3>
                        <h4 class="subtitle">Fotopia Technologies</h4>
                        <h5 class="subtitle">Aug 2023 - Sep 2023</h5>
                        <a class="logo"
                            href="https://fotopiatech.com/"><img
                                [src]="'./assets/companies/fotopia.png'"
                                height="60px"></a>

                        <div class="divcont">
                            <ul>
                                <li>
                                    Used different machine learning
                                    techniques to improve the accuracy of OCRs
                                </li>
                                <li>
                                    Developed a pipeline that parses scanned
                                    documents
                                    into digital format files
                                </li>
                                <li>
                                    Integrated individually developed modules
                                    with the
                                    team into one pipeline
                                </li>
                            </ul>
                        </div>

                        <button class="btn " type="button"
                            (click)="openModal('Foto')"><i
                                class="bi bi-clipboard"></i></button>

                    </div>
                </div>
                <div class="card">
                    <div class="info">

                        <h3 class="title">Big Data Analytics Trainee</h3>
                        <h4 class="subtitle">Telecom Egypt</h4>
                        <h5 class="subtitle">July 2023 - Aug 2023</h5>
                        <a class="logo"
                            href="https://www.te.eg/wps/portal/te/Personal"><img
                                [src]="'./assets/companies/telecomeg.png'"
                                height="60px"></a>

                        <div class="divcont">
                            <ul>
                                <li>
                                    Utilized PowerBI to analyze multiple
                                    realistic
                                    datasets
                                </li>
                                <li>
                                    Learned about the Hadoop Distributed File
                                    System
                                    (HDFS) and how it is used
                                </li>
                                <li>
                                    Used the acquired skills to analyze the
                                    S&P500 as
                                    a final project
                                </li>
                            </ul>
                        </div>

                        <button class="btn " type="button"
                            (click)="openModal('We')"><i
                                class="bi bi-clipboard"></i></button>
                    </div>
                </div>
                <div class="card">
                    <div class="info">

                        <h3 class="title">Datacenter Virtualization Trainee</h3>
                        <h4 class="subtitle">National Telecommunication
                            Institute - NTI (With VMware & Amazon
                            Academies)</h4>
                        <h5 class="subtitle">July 2022 - Aug 2022</h5>
                        <a class="logo"
                            href="https://www.nti.sci.eg/"><img
                                [src]="'./assets/companies/nti.png'"
                                height="60px"></a>

                        <div class="divcont">
                            <ul>
                                <li>
                                    Learned about the VMware Virtualization
                                    concepts (Cloud, Software-Defined Storage,
                                    and
                                    Network Virtualization)
                                </li>
                                <li>
                                    Used Amazon Web Services (AWS) services to
                                    deploy
                                    servers of various uses
                                </li>
                            </ul>
                        </div>

                        <button class="btn " type="button"
                            (click)="openModal('NTI')"><i
                                class="bi bi-clipboard"></i></button>
                    </div>
                </div>
                <div class="card">
                    <div class="info">

                        <h3 class="title">Part-time Robotics Instructor</h3>
                        <h4 class="subtitle">WIRO PLUS</h4>
                        <h5 class="subtitle">April 2022 - July 2022</h5>
                        <a class="logo"><img
                                [src]="'./assets/companies/wiro.webp'"
                                height="60px"></a>

                        <button class="btn " type="button"
                            (click)="openModal('Wiro')"><i
                                class="bi bi-clipboard"></i></button>

                    </div>
                </div>
                <div class="card">
                    <div class="info">

                        <h3 class="title">Android Development Trainee</h3>
                        <h4 class="subtitle">Sprints</h4>
                        <h5 class="subtitle">Aug 2021 - Oct 2021</h5>

                        <a class="logo"
                            href="https://sprints.ai/"><img
                                [src]="'./assets/companies/sprints.svg'"
                                height="60px"></a>

                        <button class="btn " type="button"
                            (click)="openModal('AB')"><i
                                class="bi bi-clipboard"></i></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center"><button class="btn clkbtn" type="button"
            routerLink="/projects">Projects</button> <button class="btn clkbtn"
            type="button" routerLink="/about">About</button><button
            class="btn clkbtn" type="button" routerLink="/favourites"><i
                class="bi bi-clipboard-heart-fill"></i></button></div>
    <br>
</body>

<div class="modal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayKS, 'opacity':opacityKS}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Model Title</h4>
                <button type="button" class="close mod" aria-label="Close"
                    (click)="onCloseHandled('KS')"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Model body text</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default mod"
                    (click)="onCloseHandled('KS')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayFoto, 'opacity':opacityFoto}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fotopia Technologies</h4>
                <button type="button" class="close mod" aria-label="Close"
                    (click)="onCloseHandled('Foto')"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="mimgcon">
                    <img class="mimg" src="./assets/cert/fotopia.jpg"
                        onclick="window.open('./assets/cert/fotopia.jpg')">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default mod"
                    (click)="onCloseHandled('Foto')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayWe, 'opacity':opacityWe}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Telecom Egypt</h4>
                <button type="button" class="close mod" aria-label="Close"
                    (click)="onCloseHandled('We')"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="mimgcon">
                    <img class="mimg" src="./assets/cert/we.jpg"
                        onclick="window.open('./assets/cert/we.jpg')">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default mod"
                    (click)="onCloseHandled('We')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayNTI, 'opacity':opacityNTI}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">National Telecommunication Institute -
                    NTI</h4>
                <button type="button" class="close mod" aria-label="Close"
                    (click)="onCloseHandled('NTI')"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="mimgcon">
                    <img class="mimg" src="./assets/cert/nti.jpg"
                        onclick="window.open('./assets/cert/nti.jpg')">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default mod"
                    (click)="onCloseHandled('NTI')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayWiro, 'opacity':opacityWiro}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">WIRO PLUS</h4>
                <button type="button" class="close mod" aria-label="Close"
                    (click)="onCloseHandled('Wiro')"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="mimgcon">
                    <img class="mimg" src="./assets/cert/vex_go.jpg"
                        onclick="window.open('./assets/cert/vex_go.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg" src="./assets/cert/vex_iq.jpg"
                        onclick="window.open('./assets/cert/vex_iq.jpg')">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default mod"
                    (click)="onCloseHandled('Wiro')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayAB, 'opacity':opacityAB}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sprints</h4>
                <button type="button" class="close mod" aria-label="Close"
                    (click)="onCloseHandled('AB')"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/Android Development Certificate.jpg"
                        onclick="window.open('./assets/cert/Android Development Certificate.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/Scoring Android app Task Dashboard.jpg"
                        onclick="window.open('./assets/cert/Scoring Android app Task Dashboard.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/Login Form with ConstraintaLayout + Activity Navigation Task Dashboard.jpg"
                        onclick="window.open('./assets/cert/Login Form with ConstraintaLayout + Activity Navigation Task Dashboard.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/ConstraintLayout Task Task Dashboard.jpg"
                        onclick="window.open('./assets/cert/ConstraintLayout Task Task Dashboard.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/LinearRelative Layouts Task Task Dashboard.jpg"
                        onclick="window.open('./assets/cert/LinearRelative Layouts Task Task Dashboard.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/OOP 102 Task Dashboard.jpg"
                        onclick="window.open('./assets/cert/OOP 102 Task Dashboard.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/OOP 101 Task Dashboard.jpg"
                        onclick="window.open('./assets/cert/OOP 101 Task Dashboard.jpg')">
                </div>
                <div class="mimgcon">
                    <img class="mimg"
                        src="./assets/cert/Data Structure Task Dashboard.jpg"
                        onclick="window.open('./assets/cert/Data Structure Task Dashboard.jpg')">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default mod"
                    (click)="onCloseHandled('AB')">Close</button>
            </div>
        </div>
    </div>
</div>