$color-primary: #a007e5;
$color-secondary: #b9169b;
$color-tertiary: #07e5a0;
$color-quaternary: #e5a007;
$color-quinary: #3107e5;
$color-bg: #eff8e2;

select{
  width: 60%;
  background-color: $color-tertiary;
  color: $color-quinary;
}

select:hover{
  box-shadow: 3px 3px $color-quaternary;
}

option{
  text-align: center;
}

#selectLabel{
  font-family: trashfort;
  font-weight: bolder;
  font-size: larger;
}

.text_shadows {
    text-shadow: 3px 3px 0 $color-secondary, 6px 6px 0 $color-tertiary,
      9px 9px $color-quaternary, 12px 12px 0 $color-quinary;
    font-family: trashfort, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    color: $color-primary;
    //color: transparent;
    //background-color: white;
    //background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 $color-secondary;
    }
    20% {
      text-shadow: 3px 3px 0 $color-secondary,
        6px 6px 0 $color-tertiary;
    }
    30% {
      text-shadow: 3px 3px 0 $color-secondary,
        6px 6px 0 $color-tertiary, 9px 9px $color-quaternary;
    }
    40% {
      text-shadow: 3px 3px 0 $color-secondary,
        6px 6px 0 $color-tertiary, 9px 9px $color-quaternary,
        12px 12px 0 $color-quinary;
    }
    50% {
      text-shadow: 3px 3px 0 $color-secondary,
        6px 6px 0 $color-tertiary, 9px 9px $color-quaternary,
        12px 12px 0 $color-quinary;
    }
    60% {
      text-shadow: 3px 3px 0 $color-secondary,
        6px 6px 0 $color-tertiary, 9px 9px $color-quaternary,
        12px 12px 0 $color-quinary;
    }
    70% {
      text-shadow: 3px 3px 0 $color-secondary,
        6px 6px 0 $color-tertiary, 9px 9px $color-quaternary;
    }
    80% {
      text-shadow: 3px 3px 0 $color-secondary,
        6px 6px 0 $color-tertiary;
    }
    90% {
      text-shadow: 3px 3px 0 $color-secondary;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  h1 {
      text-shadow: 3px 3px 0 $color-secondary, 6px 6px 0 $color-tertiary,
        9px 9px $color-quaternary, 12px 12px 0 $color-quinary;
      font-family: trashfort, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: calc(2rem + 5vw);
      text-align: center;
      margin: 0;
      color: $color-primary;
      //color: transparent;
      //background-color: white;
      //background-clip: text;
      letter-spacing: 0.4rem;
    }
  
body {
    background: $color-bg;
    background-image: url(../../assets/bgxo.png);
    }

    .clkbtn{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      font-family: kbdunktank, sans-serif;
      font-weight: 300;
      font-size: 1.75rem;
      margin: 5px 5px 5px 5px;
      padding: 7px !important;
    }

    .tcont{
    font-family: $color-quaternary;
    display: flex;
    justify-content: center;
  }
  /* Timeline Container */
  .timeline {
    // background: $color-quinary;
    margin: 20px auto;
    padding: 20px;
    min-width: 100%;
  }
  
  /* Card container */
  .card {
    position: relative;
    // max-width: 400px;
    background: transparent;
    border: 0;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid $color-primary;
    pointer-events: none;

  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
    pointer-events: none;

  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
    pointer-events: none;

  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
    pointer-events: none;

  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    pointer-events: none;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    pointer-events: none;

  }
  
  button{
    width: fit-content;
    background-color: $color-tertiary;
    color: $color-primary;
    margin: 10px 5px 0px 5px;
  }

  button:hover{
    background-color: $color-quaternary;
    color: $color-primary;
  }


  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: transparent;
    color: $color-secondary;
    text-shadow: 1px 1px 0 $color-bg;
    border-radius: 10px;
    padding: 10px;
    font-weight:bold;
  }
  
  /* Title of the card */
  .title {
    color: $color-quinary;
    position: relative;
  }

  .subtitle {
    color: $color-quinary;
    position: relative;
  }
  
  .logos{
    position: absolute;
    align-self:flex-end;
    text-align: right;
  }

  .divimgs{
    position: absolute;
    align-self:flex-end;
    margin-top: 90px;
    width: 25%;

  }

  .mimgcon{
    // width: 25%;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: $color-primary;
    margin-bottom: 5px;
    width: 30%;
    background-color: black;
    align-self: center;
    margin-top: 10px;
  }

  .mimg{
    width: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  .mvid{
    width: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  .mimg:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: $color-bg;
    border-radius: 999px;
    border: 3px solid $color-primary;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }

  .card:nth-child(even) > .info > .subtitle {
    text-align: right;
  }

  .card:nth-child(even) > .info > .logos {
    align-self:flex-start;
    text-align: left;
  }
  
  .card:nth-child(even) > .info > .divcont {
    // align-self:flex-start;
    text-align: right;
  }
  .card:nth-child(even) > .info > .divimgs {
    // align-self:flex-start;
    align-self: flex-start;
  }

  .card:nth-child(even) > .info > .divcont > ul {
    // align-self:flex-start;
    direction: rtl;    
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }

  @media all and (max-width: 801px) {
    .logos{
      position: relative;
      margin-top: 10px;
    }

    .mimgcon{
      width: 70%;
    }
  }

  
