/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

@font-face {
    font-family: kbdunktank;
    src: url('assets/fonts/kbdunktank.ttf');
};

@font-face {
    font-family: pijamas;
    src: url('assets/fonts/pijamas.ttf');
};

@font-face {
    font-family: doodle;
    src: url('assets/fonts/doodle.ttf');
};

@font-face {
    font-family: trashfort;
    src: url('assets/fonts/trashfort.ttf');
};

@font-face {
    font-family: wiggle;
    src: url('assets/fonts/wiggle.ttf');
}

@font-face {
    font-family: idmthy;
    src: url('assets/fonts/idmthy.ttf');
}

@font-face {
    font-family: deathparade;
    src: url('assets/fonts/deathparade.ttf');
}

@font-face {
    font-family: hawk;
    src: url('assets/fonts/hawk.ttf');
}

@font-face {
    font-family: sasuke;
    src: url('assets/fonts/sasuke.ttf');
}

@font-face {
    font-family: antihero;
    src: url('assets/fonts/antihero.ttf');
}

@font-face {
    font-family: radiohead;
    src: url('assets/fonts/radiohead.ttf');
}

@font-face {
    font-family: connect;
    src: url('assets/fonts/connect4.ttf');
}

@font-face {
    font-family: monopoly;
    src: url('assets/fonts/monopoly.ttf');
}

@font-face {
    font-family: monsters;
    src: url('assets/fonts/monsters.ttf');
}

@font-face {
    font-family: tea;
    src: url('assets/fonts/tea.ttf');
}

@font-face {
    font-family: flavoric;
    src: url('assets/fonts/flavoric.ttf');
}

@font-face {
    font-family: burger;
    src: url('assets/fonts/burger.ttf');
}

@font-face {
    font-family: persona;
    src: url('assets/fonts/persona.ttf');
}

@font-face {
    font-family: sans;
    src: url('assets/fonts/sans.ttf');
}

@font-face {
    font-family: hero;
    src: url('assets/fonts/hero.ttf');
}

@font-face {
    font-family: hobby;
    src: url('assets/fonts/hobby.ttf');
}

@font-face {
    font-family: movie;
    src: url('assets/fonts/movie.ttf');
}

@font-face {
    font-family: myth;
    src: url('assets/fonts/myth.ttf');
}

@font-face {
    font-family: operson;
    src: url('assets/fonts/operson.ttf');
}

@font-face {
    font-family: podcast;
    src: url('assets/fonts/podcast.ttf');
}

@font-face {
    font-family: pokemon;
    src: url('assets/fonts/pokemon.ttf');
}

@font-face {
    font-family: season;
    src: url('assets/fonts/season.ttf');
}

@font-face {
    font-family: tshost;
    src: url('assets/fonts/tshost.ttf');
}

@font-face {
    font-family: tvshow;
    src: url('assets/fonts/tvshow.ttf');
}

@font-face {
    font-family: wrestler;
    src: url('assets/fonts/wrestler.ttf');
}

@font-face {
    font-family: yugioh;
    src: url('assets/fonts/yugioh.ttf');
}